body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the card.
*/

section {
    width: 350px;
    border: solid 1px #CCC;
}

section h2, section p, section button{
    margin-left: 20px;
    margin-right: 20px;
}

img {
    width: 100%;
}
