body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/

main {
    display: flex;
}

section {
    width: 350px;
    border: solid 1px #CCC;
    margin: 20px;
}

section h2, section p, section button{
    margin-left: 20px;
    margin-right: 20px;
}

img {
    width: 100%;
}



/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
    main {
        flex-wrap: wrap;
    }

    section {
        width: calc(50% - 20px);
    }
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
    section {
        width: 100%;
    }
    
}